<div class="form-group">
    <!-- Measurement configuration -->
    <div class="row">
        <div class="configuration-panel">
            <div class="row">
                <div class="col-lg-12 configuration-panel-title">
                    Measurement configuration
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <c8y-form-group>
                        <label for="measurementSeries">
                            Measurement
                        </label>
                        <select class="form-control" id="measurementSeries" name="measurementSeries"
                            [(ngModel)]="config.measurementSeries" (click)="loadFragmentSeries()">
                            <option [ngValue]="seriesValue" *ngFor="let seriesValue of supportedSeries"
                                [selected]="seriesValue == config.measurementSeries">{{seriesValue}}</option>
                            required
                        </select>
                    </c8y-form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="fillLevelMaximumLabel">Maximum fill level label (optional)</label>
                        <input type="text" class="form-control" id="fillLevelMaximumLabel" name="fillLevelMaximumLabel"
                            placeholder="Set the label which will be displayed for the maximum fill level"
                            [(ngModel)]="config.fillLevelMaximumLabel">
                    </c8y-form-group>
                </div>
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="fillLevelMaximumAmount">Maximum fill amount</label>
                        <input type="number" class="form-control" id="fillLevelMaximumAmount"
                            name="fillLevelMaximumAmount" placeholder="Set the maximum fill level"
                            [(ngModel)]="config.fillLevelMaximumAmount" required>
                    </c8y-form-group>
                </div>
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="fillLevelUnit">Fill level unit</label>
                        <input type="text" class="form-control" id="fillLevelUnit" name="fillLevelUnit"
                            placeholder="Set the fill level unit e.g. litres" [(ngModel)]="config.fillLevelUnit"
                            required>
                    </c8y-form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="fillOrRemainingLabel">Fill or remaining label (optional)</label>
                        <input type="text" class="form-control" id="fillOrRemainingLabel" name="fillOrRemainingLabel"
                            placeholder="Set the label which will be displayed for the fill or remaining level"
                            [(ngModel)]="config.fillOrRemainingLabel">
                    </c8y-form-group>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="label-with-help" for="fillOrRemainingCalculation">Fill or remaining
                                calculation</label>
                            <span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}" alt="help tooltip"
                                    title="Calculate the volume filled or the volume remaining based on the received measurement value.">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <span class="calculate-remaining-volume-container">
                                <input type="radio" id="calculateRemainingVolume" name="fillOrRemainingCalculation"
                                    value="calculateRemainingVolume" [(ngModel)]="config.fillOrRemainingCalculation" />
                                <label for="calculateRemainingVolume">Calculate remaining volume</label>
                            </span>
                        </div>
                        <div class="col-lg-4">
                            <span class="calculate-fill-volume-container">
                                <input type="radio" id="calculateFillVolume" name="fillOrRemainingCalculation"
                                    value="calculateFillVolume" [(ngModel)]="config.fillOrRemainingCalculation" />
                                <label for="calculateFillVolume">Calculate fill volume</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="currentFillPercentageLabel">Current fill percentage label (optional)</label>
                        <input type="text" class="form-control" id="currentFillPercentageLabel"
                            name="currentFillPercentageLabel"
                            placeholder="Set the label which will be displayed for the current fill percentage"
                            [(ngModel)]="config.currentFillPercentageLabel">
                    </c8y-form-group>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="label-with-help" for="percentOrValue">Measurement is a percent or
                                value</label>
                            <span class="help-icon">
                                <img src="{{CONST_HELP_IMAGE_FILE}}" alt="help tooltip"
                                    title="The measurement is provided as a percent or a value.">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <span class="calculate-remaining-volume-container">
                                <input type="radio" id="measurementIsAPercent" name="measurementIsAPercent"
                                    value="measurementIsAPercent" [(ngModel)]="config.measurementIsAPercentOrValue" />
                                <label for="measurementIsAPercente">Percent</label>
                            </span>
                        </div>
                        <div class="col-lg-4">
                            <span class="calculate-fill-volume-container">
                                <input type="radio" id="measurementIsAValue" name="measurementIsAValue"
                                    value="measurementIsAValue" [(ngModel)]="config.measurementIsAPercentOrValue" />
                                <label for="measurementIsAValue">Value</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Cylinder configuration -->

    <div class="row">
        <div class="configuration-panel">
            <div class="row">
                <div class="col-lg-12 configuration-panel-title">
                    Cylinder configuration
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="cylinderHeight">Height (px)</label>
                        <input type="number" class="form-control" id="cylinderHeight" name="cylinderHeight"
                            placeholder="Set the height of your cylinder" [ngModel]="config.cylinderHeight"
                            (change)="setCylinderHeight($event)" required>
                    </c8y-form-group>
                </div>
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="cylinderWidth">Width (px)</label>
                        <input type="number" class="form-control" id="cylinderWidth" name="cylinderWidth"
                            placeholder="Set the width of your cylinder" [ngModel]="config.cylinderWidth"
                            (change)="setCylinderWidth($event)" required>
                    </c8y-form-group>
                </div>
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="cylinderLeftMargin">Left margin (px)</label>
                        <input type="number" class="form-control" id="cylinderLeftMargin" name="cylinderLeftMargin"
                            placeholder="Adjust your cylinder by adding left margin"
                            [ngModel]="config.cylinderLeftMargin" (change)="setCylinderLeftMargin($event)" required>
                    </c8y-form-group>
                </div>
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="cylinderTopMargin">Top margin (px)</label>
                        <input type="number" class="form-control" id="cylinderTopMargin" name="cylinderTopMargin"
                            placeholder="Adjust your cylinder position by adding top margin"
                            [ngModel]="config.cylinderTopMargin" (change)="setCylinderTopMargin($event)" required>
                    </c8y-form-group>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label class="label-with-help" for="cylinderTiltHeight">Tilt height (px)</label>
                        <span class="help-icon">
                            <img src="{{CONST_HELP_IMAGE_FILE}}" alt="help tooltip"
                                title="This attribute tilts the angle of the cylinder.">
                        </span>
                        <input type="number" min="1" max="50" class="form-control" id="cylinderTiltHeight"
                            name="cylinderTiltHeight" placeholder="Set the tilt height of your cylinder"
                            [ngModel]="config.cylinderTiltHeight" (change)="setCylinderTiltHeight($event)" required>
                    </c8y-form-group>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <c8y-form-group>
                        <label for="cylinderColor">Cylinder color (hex,rgb,rgba)</label>
                        <input type="text" class="form-control" id="cylinderColor" name="cylinderColor"
                            [(ngModel)]="config.cylinderColor" (click)="openCylinderColorPicker()" required />
                        <app-color-picker [ngClass]="cylinderColorPickerClosed? 'hideColorPicker' : 'showColorPicker'"
                            (colorPickerClosed)="closeCylinderColorPicker()" (colorSet)="setCylinderColor($event)">
                        </app-color-picker>
                    </c8y-form-group>
                </div>
                <div class="col-lg-6">
                    <c8y-form-group>
                        <label for="cylinderFillColor">Cylinder fill color (hex,rgb,rgba)</label>
                        <input type="text" class="form-control" id="cylinderFillColor" name="cylinderFillColor"
                            [(ngModel)]="config.cylinderFillColor" (click)="openCylinderFillColorPicker()" required />
                        <app-color-picker
                            [ngClass]="cylinderFillColorPickerClosed? 'hideColorPicker' : 'showColorPicker'"
                            (colorPickerClosed)="closeCylinderFillColorPicker()"
                            (colorSet)="setCylinderFillColor($event)">
                        </app-color-picker>
                    </c8y-form-group>
                </div>
            </div>
        </div>
    </div>


    <!-- Foreground image configuration -->

    <div class="row">
        <div class="configuration-panel">
            <div class="row">
                <div class="col-lg-12 configuration-panel-title">
                    Foreground image configuration (optional)
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <c8y-form-group>
                        <label for="foregroundImageFile">Image file (png, jpeg, jpg)</label>
                        <input type="file" class="form-control" id="foregroundImageFile" name="foregroundImageFile"
                            alt="Foreground image file" accept=".png, .jpeg, .jpg"
                            placeholder="Select the foreground image file"
                            (change)="onForegroundImageFileUpdated($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-offset-3 col-lg-3">
                    <div class="show-image-container">
                        <input type="checkbox" id="showForegroundImage" name="showForegroundImage"
                            [(ngModel)]="config.showForegroundImage">
                        <label for="showForegroundImage">Show foreground image</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="foregroundImageHeightPercent">Height (%)</label>
                        <input type="number" class="form-control" id="foregroundImageHeightPercent"
                            name="foregroundImageHeightPercent" placeholder="Set the height of your foreground image"
                            [ngModel]="config.foregroundImageHeightPercent" (change)="setForegroundImageSize($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="foregroundImageLeftMargin">Left margin (px)</label>
                        <input type="number" class="form-control" id="foregroundImageLeftMargin"
                            name="foregroundImageLeftMargin"
                            placeholder="Adjust your foreground image position by adding left margin"
                            [ngModel]="config.foregroundImageLeftMargin"
                            (change)="setForegroundImageLeftMargin($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="foregroundImageTopMargin">Top margin (px)</label>
                        <input type="number" class="form-control" id="foregroundImageTopMargin"
                            name="foregroundImageTopMargin"
                            placeholder="Adjust your overlay image position by adding top margin"
                            [ngModel]="config.foregroundImageTopMargin" (change)="setForegroundImageTopMargin($event)">
                    </c8y-form-group>
                </div>
            </div>

        </div>
    </div>


    <!-- Background image configuration -->

    <div class="row">
        <div class="configuration-panel">
            <div class="row">
                <div class="col-lg-12 configuration-panel-title">
                    Background image configuration (optional)
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <c8y-form-group>
                        <label for="backgroundImageFile">Image file (png, jpeg, jpg)</label>
                        <input type="file" class="form-control" id="backgroundImageFile" name="backgroundImageFile"
                            alt="Background image file" accept=".png, .jpeg, .jpg"
                            placeholder="Select the background image file"
                            (change)="onBackgroundImageFileUpdated($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-offset-3 col-lg-3">
                    <div class="show-image-container">
                        <input type="checkbox" id="showBackgroundImage" name="showBackgroundImage"
                            [(ngModel)]="config.showBackgroundImage">
                        <label for="showBackgroundImage">Show background image</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="backgroundImageHeightPercent">Height (%)</label>
                        <input type="number" class="form-control" id="backgroundImageHeightPercent"
                            name="backgroundImageHeightPercent" placeholder="Set the height of your background image"
                            [ngModel]="config.backgroundImageHeightPercent" (change)="setBackgroundImageSize($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="backgroundImageLeftMargin">Left margin (px)</label>
                        <input type="number" class="form-control" id="backgroundImageLeftMargin"
                            name="backgroundImageLeftMargin"
                            placeholder="Adjust your background image position by adding left margin"
                            [ngModel]="config.backgroundImageLeftMargin"
                            (change)="setBackgroundImageLeftMargin($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-3">
                    <c8y-form-group>
                        <label for="backgroundImageTopMargin">Top margin (px)</label>
                        <input type="number" class="form-control" id="backgroundImageTopMargin"
                            name="backgroundImageTopMargin"
                            placeholder="Adjust your background image position by adding top margin"
                            [ngModel]="config.backgroundImageTopMargin" (change)="setBackgroundImageTopMargin($event)">
                    </c8y-form-group>
                </div>
            </div>
        </div>
    </div>

    <!-- Threshold configuration -->

    <div class="row">
        <div class="configuration-panel thresholds-container">
            <div class="row">
                <div class="col-lg-12 configuration-panel-title">
                    Threshold configuration (optional)
                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <div class="enable-thresholds-container">
                        <input type="checkbox" id="enableThresholds" name="enableThresholds"
                            [(ngModel)]="config.enableThresholds">
                        <label class="enableThresholds-label" for="enableThresholds">Enable thresholds</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 configuration-panel-sub-title">
                    High threshold range
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="thresholdHighRangeMin">Minimum value (%)</label>
                        <input type="number" class="form-control" id="thresholdHighRangeMin"
                            name="thresholdHighRangeMin" placeholder="Set the high range minimum value"
                            [ngModel]="config.thresholdHighRangeMin" (change)="setThresholdHighRangeMin($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="thresholdHighRangeMax">Maximum value (%)</label>
                        <input type="number" class="form-control" id="thresholdHighRangeMax"
                            name="thresholdHighRangeMax" placeholder="Set the high range maximum value"
                            [ngModel]="config.thresholdHighRangeMax" (change)="setThresholdHighRangeMax($event)">
                    </c8y-form-group>
                </div>
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="thresholdHighColourLabel">Color (hex,rgb,rgba)</label>
                        <input type="text" class="form-control" id="thresholdHighColourLabel"
                            name="thresholdHighColourLabel" [(ngModel)]="config.thresholdHighColor"
                            (click)="openThresholdHighColorPicker()" />
                        <app-color-picker
                            [ngClass]="thresholdHighColorPickerClosed? 'hideColorPicker' : 'showColorPicker'"
                            (colorPickerClosed)="closeThresholdHighColorPicker()"
                            (colorSet)="setThresholdHighColor($event)">
                        </app-color-picker>
                    </c8y-form-group>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 configuration-panel-sub-title">
                    Medium threshold range
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="thresholdMediumRangeMin">Minimum value (%)</label>
                        <input type="number" class="form-control" id="thresholdMediumRangeMin"
                            name="thresholdMediumRangeMin" placeholder="Set the medium range minimum value"
                            [(ngModel)]="config.thresholdMediumRangeMin">
                    </c8y-form-group>
                </div>
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="thresholdMediumRangeMax">Maximum value (%)</label>
                        <input type="number" class="form-control" id="thresholdMediumRangeMax"
                            name="thresholdMediumRangeMax" placeholder="Set the medium range maximum value"
                            [(ngModel)]="config.thresholdMediumRangeMax">
                    </c8y-form-group>
                </div>
                <div class="col-lg-4">
                    <c8y-form-group>
                        <label for="thresholdMediumColourLabel">Color (hex,rgb,rgba)</label>
                        <input type="text" class="form-control" id="thresholdMediumColourLabel"
                            name="thresholdMediumColourLabel" [(ngModel)]="config.thresholdMediumColor"
                            (click)="openThresholdMediumColorPicker()" />
                        <app-color-picker
                            [ngClass]="thresholdMediumColorPickerClosed? 'hideColorPicker' : 'showColorPicker'"
                            (colorPickerClosed)="closeThresholdMediumColorPicker()"
                            (colorSet)="setThresholdMediumColor($event)">
                        </app-color-picker>
                    </c8y-form-group>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional configuration -->
    <div class="row">
        <div class="configuration-panel">
            <div class="row">
                <div class="col-lg-12 configuration-panel-title">
                    <div class="label-with-help">
                        Development (optional)
                    </div>
                    <span class="help-icon">
                        <img src="{{CONST_HELP_IMAGE_FILE}}" alt="help tooltip"
                            title="Enable debug mode to display a value spinner which can be used to increase/decrease the capacity fill to check the height of the cylinder matches your foreground and background images.\n\nHold down the Ctrl key and your left mouse button to reposition the foreground and background images over the cylinder. To save the image location changes, edit the widget and click the save button.">
                    </span>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="show-debug-container">
                        <input type="checkbox" id="showDebug" name="debugShow" [(ngModel)]="config.debugMode">
                        <label for="showDebug">Enable debug mode</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>